@import '_components/_scroller.scss';
@import '_components/_tiles.scss';
@import '_components/_windows.scss';

/* colors */
.blue {color: $blue;}
.light-blue {color: $light_blue;}
.red {color: $red;}
.water {color: $water;}
.yellow-green {color: $yellow_green;}
.purple {color: $purple;}
.green {color: $green;}
.orange {color: $orange;}
.yellow {color: $yellow;}
.dark {color: $dark;}
.grey {color: $grey;}
.light {color: $light;}
